

<%- include ('./driversTopbar') %>
  <!-- End of Topbar -->
  <!-- Offcanvas Menu for Mobile -->
  <%- include ('./driverSidebar') %>
  <div class="container">
        <!-- Page Heading -->
        <%- include ('../partials/messages') %>
        <a class="back-btn" href="/drivers"><i class="bi bi-arrow-left-circle"></i> Back</a>

            <div class=" mb-4">
              
              <% if(availableDeliveries.length <= 0){ %>
                
                      <div style="margin-top: 200px;">
                        <div class="d-flex flex-column justify-content-center align-items-center" >
                          <img style="max-width: 100px; max-height: 100px" src="/images/shipped.png" class=" rounded-4"alt="images"/>
                          <p>Relax No new order</p>
                        </div>
                        
                      </div> 
                        <% } else{ %>  
    
                          <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Your assigned deliveries
                          </div>
                          <div class="order-list mt-4">
                          <% availableDeliveries.forEach(function(data) {%> 

                                <div class="order-card">
                                  <div class="order-info">
                                    <span class="order-amount"><%= data.sale_id %></span>

                                  </div>
                                  <a class="btn btn-primary details-btn" href="/drivers/deliveries/<%= data['id'] %>">Details</a>
                                </div>
                              <% }) %>
                            </div>
                         
         
                            <% } %>
                   
                </div>



            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
  </div>

  <%- include ('../partials/openFooter')%>