

<style>
  #map {
    height: 500px;
    width: 100%;
  }
  #eta {
    margin-top: 10px;
  }
</style>


<%- include ('./driversTopbar') %>
<!-- End of Topbar -->
<!-- Offcanvas Menu for Mobile -->
<%- include ('./driverSidebar') %>

      <!-- Page Heading -->


      <%- include ('../partials/messages') %>

                <div class="container">
                 
                  <div class="row mt-4">


                    <div class="col-lg-7 col-md-12 col-sm-12 mb-3">
                      <div class=" mb-3">
                        <div class="card">
                          <div class="card-body">
                            <div class="row no-gutters align-items-center">
                              <div class="col-12 mr-5 mb-4">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                  Reciever Name
                                </div>
                                <div class="text-gray-500">
                                   <%=customerData.First_name%> <%=customerData.Last_name%>
                                </div>
                              </div>
    
                              <div class="col-12 mr-5 mb-4">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                  Reciever Phone
                                </div>
                                <div class="text-gray-500">
                                  <%=customerData.Phone%> 
                                </div>
                              </div>
    
                              <div class="col-12 mr-5 mb-4">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                  Reciever Email
                                </div>
                                <div class="text-gray-500">
                                  <%=customerData.email%> 
                                </div>
                              </div>
    
    
                              <div class="col-12 mr-5 mb-4">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                  Identification number
                                </div>
                                <div class="text-gray-500">
                                  <%=orderToComplete.sale_id%> 
                                </div>
                              </div>
    
                              <div class="col-12 mr-3 mb-4">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Address
                                  </div>
                                  <div class="text-gray-500">
                                    <%=customerData.Address%>, <%=customerData.state%>, <%=customerData.lga%> 
                                  </div>
                              </div>
    
                              <div class="col-auto mr-5 mb-4">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Land mark
                                  </div>
                                  <div class="text-gray-500">
                                    <%=customerData.land_mark%> 
                                  </div>
                              </div>
    
    
                        <div class="col-lg-12">
                          <h3>Track User and Get Directions</h3>
                          <div id="map"></div>
                          <p id="eta">Estimated Time of Arrival: Calculating...</p>
                        </div>
                        </div>    
    
                            </div>
                          </div>
                        </div>
                    </div>
                    </div>
                 
                          
                    <div class="col-lg-5 col-md-12 col-sm-12 mb-3">
                      <div class=" mb-3">
                        <div class="card">
                          <div class="card-body">
                            <div class="row no-gutters align-items-center">
                              
                              <% orderedProducts.forEach(function(data) {%> 
                              <div class="col-12 mr-5 mb-4">
                             <div class="row align-items-center">
                              <div class="col-lg-4 text-gray-500">
                                <img style="max-width: 70px; max-height: 70px;" src="/uploads/<%=data.image%>" alt="">
                             </div>
                              <div class="col-auto text-gray-500">
                                 <%=data.name%>
                              </div>
                             </div>
                             
                            </div>
                            <% }) %>
    
    

    

                            <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                              <% if(  1==1 ){ %>               
                                <form action="/drivers/finish-order/<%= orderedProducts[0].id %>" method="post">
                                  <div class="from-group">
                                    <label>Customer Order Pin</label>
                                    <input type="number" name="pin" class="form-control" >
                                    <button type="submit" class="my-btn mt-4">Submit</button>
                                  </div>
                                </form>

                                <% } else{ %>  
                                  <button type="submit" class="btn btn-secondary mt-4" style="width: 100%;" disabled> Completed</button>
                                 <% } %>
                            </div>
    
                        
    
    
                            </div>
                          </div>
                        </div>
                    </div>
                    </div>
                
                </div>
                </div>
                <%- include ('../partials/openFooter')%>


                  
                <script>
                  let map, directionsService, directionsRenderer, marker;
              
                  function initMap() {
                    directionsService = new google.maps.DirectionsService();
                    directionsRenderer = new google.maps.DirectionsRenderer();
              
                    const initialLocation = { lat: <%= userLocation.latitude %>, lng: <%= userLocation.longitude %> };
              
                    map = new google.maps.Map(document.getElementById("map"), {
                      center: initialLocation,
                      zoom: 14,
                    });
              
                    directionsRenderer.setMap(map);
              
                    // Optionally, add a marker at the user's location
                    marker = new google.maps.Marker({
                      position: initialLocation,
                      map: map,
                    });
              
                    // Automatically get directions and ETA
                    calculateAndDisplayRoute();
              
                    // Refresh the location and ETA every 5 seconds
                    setInterval(calculateAndDisplayRoute, 5000);
                  }
              
                  function calculateAndDisplayRoute() {
                    const userLocation = { lat: <%= userLocation.latitude %>, lng: <%= userLocation.longitude %> };
                    const destination = { lat: YOUR_DESTINATION_LATITUDE, lng: YOUR_DESTINATION_LONGITUDE }; // Replace with the actual destination
              
                    directionsService.route(
                      {
                        origin: userLocation,
                        destination: destination,
                        travelMode: 'DRIVING',
                      },
                      (response, status) => {
                        if (status === 'OK') {
                          directionsRenderer.setDirections(response);
              
                          // Display the ETA
                          const leg = response.routes[0].legs[0];
                          document.getElementById('eta').textContent = `Estimated Time of Arrival: ${leg.duration.text}`;
                        } else {
                          console.error('Directions request failed due to ' + status);
                        }
                      }
                    );
                  }
                </script>