

<%- include('./partials/openNav') %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="location-card p-2 rounded ">
                <h3 class="card-title text-center mb-4">All Shipping Regions</h3>

                    <% for (const state in shippingData) { %>
                        <div class="location-state mb-4">
                            <h5 class="state-name text-primary mb-2"><%= state %></h5>
                            <ul class="list-group">
                                <% shippingData[state].forEach(({ lga, fee }) => { %>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span><%= lga %></span>
                                        <span class="badge bg-success p-2">₦<%= fee %></span>
                                    </li>
                                <% }); %>
                            </ul>
                        </div>
                    <% } %>

            </div>
        </div>
    </div>

</div>

  <%- include ('./partials/openFooter')%>
  

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
