
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include ('../partials/superSidebar') %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include ('../partials/topbar') %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <%- include ('../partials/messages') %>
                    <h1 class="h3 mb-2 text-gray-800">Editing "<%= discountData.Discount_name %>" Discount</h1>
                    <a class="btn btn-outline-primary mr-2 mb-1" href="/super/create-discount">Add new Discount</a>
                    <!-- DataTales Example -->
                    <div class=" mb-4">

                            <div class="form mt-4 mb-4">
                                <form action="/super/edit-discount/<%= discountData.id %>" method="post" class="form">
                                   <div class="row">
                                 

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Discount Name</label>
                                            <input type="text" name="Discount_name" class="form-control" value="<%= discountData.Discount_name %>">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Discount Provider</label>
                                            <input type="text" name="Discount_Provider" class="form-control" value="<%= discountData.Discount_provider %>">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Discount Perrcentage</label>
                                            <input type="number" name="Discount_Percentage" class="form-control" placeholder="Not above 100%" value="<%= discountData.Discount_percentage %>">
                                        </div>
                                    </div>


                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">Start Date</label>
                                            <input type="date" name="Start_Date" class="form-control" value="">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="">End Date</label>
                                            <input type="date" name="End_Date" class="form-control" value="">
                                        </div>
                                    </div>



                                </div>
                                <div class="mt-4">
                                    <input type="hidden" name="_method" value="PUT">
                                    <input name="_method" type="submit" value="Update" class="btn btn-primary "/>
                                </div>
                                </form>
                            </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include ('../partials/footer') %>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
