

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include ('../partials/superSidebar') %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include ('../partials/topbar') %>
                <!-- End of Topbar -->
                <%- include ('../partials/messages') %>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <a class="btn btn-outline-primary mr-2 mb-1" href="/super/create-discount">Add Discount</a>


                    <!-- DataTales Example -->
                    <div class=" mb-4">
                        <% if(allDiscounts.length <= 0){ %>

                                <h1>No Discount Record Found !</h1>  

                            <% } else{ %>  

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                  <th>Id</th>
                                                  <th>Discount Name</th>
                                                  <th>Discount Percentage</th>
                                                  <th>Start Date</th>
                                                  <th>End Date</th>
                                                  <th>Provider</th>
                                                  <th>Actions</th>
                                                </tr>
                                            </thead>
                                        
                                            <tbody>
                                          
        
                                                <% allDiscounts.forEach(function(data) {%>
        
                                                    <tr>
                                                        <td><%= data['id'] %></td>
                                                        <td><%= data['Discount_name'] %> </td>
                                                        <td><%= data['Discount_percentage'] %></td>

                                                        <td><%= data['Start_date'] %></td>
                                                        <td><%= data['End_date'] %></td>
                                                        <td><%= data['Discount_provider'] %></td>
                                                        <td>
                                                            <a class="btn btn-secondary" href="/super/edit-discount/<%= data['id'] %>"> edit</a>
                                                            <form action="/super/delete-discount/<%= data['id'] %>" method="POST" style="display: inline;">
                                                                <input type="hidden" name="_method" value="DELETE" />
                                                                <button  class="btn btn-danger">Delete</button>
                                                            </form>
                                                        </td>
                                                   </tr> 
                                                   
                                                       <% }) %>
                                       
                                         
                                           
                                            
        
                                                </tbody>
                                        </table>
                                    </div>
                                </div>
                                <% } %>
                        
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include ('../partials/footer') %>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
