

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include ('../partials/superSidebar') %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include ('../partials/topbar') %>
                <!-- End of Topbar -->
                <%- include ('../partials/messages') %>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- DataTales Example -->
                    <div class=" mb-4">


                            <% if(allExterrnalRiders.length <= 0){ %>
                            
                                <h1>No External driver Record Found !</h1>  
                                <% } else{ %>  


                                
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>

                                                      <th>Id</th>
                                                      <th>company name</th>
                                                      <th>phone</th>
                                                      <th>status</th>
                                                      <th>
                                                        action
                                                      </th>
                                                    </tr>
                                                </thead>
                                                
                                                <tbody>
                                              
            
            
                                                    <% allExterrnalRiders.forEach(function(data) {%>
                                                        <tr>
                                                            <td><%= data['id'] %></td>
                                                            <td><%= data['companyName'] %></td>
                                                            <td><%= data['companyPhone'] %> </td>
                                                            <td><%= data['status'] %> </td>
                                                            <td>
                                                                <a class="btn btn-primary" href="/super/view-rider/<%= data['id'] %>"> View</a>

                                                            </td>

                                                            
                                                       </tr> 
                                                       
                                                           <% }) %>
                                             
                                               
                                                
            
                                                    </tbody>
                                            </table>
                                        </div>

                                    <% } %>
                           

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include ('../partials/footer') %>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

