

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include ('../partials/superSidebar') %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include ('../partials/topbar') %>
                <!-- End of Topbar -->
                <%- include ('../partials/messages') %>
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <a class="btn btn-outline-primary mr-2 mb-1 mt-4" href="/super/all-inventory">Back</a>
                    <a class="btn btn-outline-primary mr-2 mb-1 mt-4" href="/super/create-category">Add Category</a>
                    <a class="btn btn-outline-primary mr-2 mb-1 mt-4" href="/super/create-brand">Add Brand</a>
                    <!-- DataTales Example -->
                    <div class=" mb-4">
                           <!-- DataTales Example -->
    
                        <div class="form mt-4 mb-4">
                            <form action="/super/create-inventory" method="post" enctype="multipart/form-data" onsubmit="return validateInventoryForm()">
                                <div class="row">
                                  <!-- Category Name -->
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <label for="">Category Name</label>
                                      <select name="Category_name" id="Category_name" class="form-control">
                                        <option value="<%= typeof Category_name !== 'undefined' && Category_name ? Category_name : '' %>"><%= typeof Category_name !== 'undefined' && Category_name ? Category_name : 'Select Category' %></option>
                                        <% categoryData.forEach(function(data) { %>
                                          <option value="<%= data['Category_name'] %>"> <%= data['Category_name'] %> </option>
                                        <% }) %>
                                      </select>
                                      <div class="text-danger" id="categoryError"></div>
                                    </div>
                                  </div>
                              
                                  <!-- Brand Name -->
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <label for="">Brand Name</label>
                                      <select name="Brand_name" id="Brand_name" class="form-control">
                                        <option value="<%= typeof Brand_name !== 'undefined' && Brand_name ? Brand_name : '' %>" selected><%= typeof Brand_name !== 'undefined' && Brand_name ? Brand_name : '' %></option>
                                        <% brandData.forEach(function(data) { %>
                                          <option value="<%= data['Name'] %>"> <%= data['Name'] %> </option>
                                        <% }) %>
                                        <option value="unknown"> unknown</option>
                                      </select>
                                      <div class="text-danger" id="brandError"></div>
                                    </div>
                                  </div>
                              
                                  <!-- Product Name -->
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <label for="">Product Name</label>
                                      <input type="text" name="Product_name" id="Product_name" class="form-control" value="<%= typeof Product_name !== 'undefined' && Product_name !== '' ? Product_name : '' %>">
                                      <div class="text-danger" id="productNameError"></div>
                                    </div>
                                  </div>
                              
                                  <!-- Purchase Price -->
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <label for="">Purchase Price</label>
                                      <input type="number" name="Purchase_price" id="Purchase_price" class="form-control" value="<%= typeof Purchase_price !== 'undefined' && Purchase_price ? Purchase_price : '' %>">
                                      <div class="text-danger" id="purchasePriceError"></div>
                                    </div>
                                  </div>
                              
                                  <!-- Supplier Name -->
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <label for="">Supplier Name</label>
                                      <select name="Supplier_name" id="Supplier_name" class="form-control">
                                        <option value="<%= typeof Supplier_name !== 'undefined' && Supplier_name ? Supplier_name : '' %>"><%= typeof Supplier_name !== 'undefined' && Supplier_name ? Supplier_name : 'Select Supplier' %></option>
                                        <% supplierData.forEach(function(data) { %>
                                          <option value="<%= data['Business_name'] %>"> <%= data['Business_name'] %> </option>
                                        <% }) %>
                                        <option value="Unregistered"> Unregistered</option>
                                      </select>
                                      <div class="text-danger" id="supplierError"></div>
                                    </div>
                                  </div>
                              
                                  <!-- Payment Method -->
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <label for="">Payment Method</label>
                                      <select name="Payment_method" id="Payment_method" class="form-control">
                                        <option value="<%= typeof Payment_method !== 'undefined' && Payment_method ? Payment_method : '' %>"><%= typeof Payment_method !== 'undefined' && Payment_method ? Payment_method : 'Payment Method' %></option>
                                        <option value="Cash"> Cash</option>
                                        <option value="Transfer"> Transfer</option>
                                        <option value="Split Payment"> Split Payment</option>
                                      </select>
                                      <div class="text-danger" id="paymentMethodError"></div>
                                    </div>
                                  </div>
                              
                                  <!-- Reciever Name -->
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <label for="">Receiver Name</label>
                                      <select name="Reciever_name" id="Reciever_name" class="form-control">
                                        <option value="<%= typeof Reciever_name !== 'undefined' && Reciever_name ? Reciever_name : '' %>"><%= typeof Reciever_name !== 'undefined' && Reciever_name ? Reciever_name : 'Select Receiver' %></option>
                                        <% superAdmin.forEach(function(data) { %>
                                          <option value="<%= data['First_name'] %> <%= data['Last_name'] %>"> <%= data['First_name'] %> <%= data['Last_name'] %> </option>
                                        <% }) %>
                                      </select>
                                      <div class="text-danger" id="receiverError"></div>
                                    </div>
                                  </div>
                              
                                  <!-- Delivery Method -->
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <label for="">Delivery Method</label>
                                      <select name="Delivery_method" id="Delivery_method" class="form-control">
                                        <option value="<%= typeof Delivery_method !== 'undefined' && Delivery_method ? Delivery_method : '' %>"><%= typeof Delivery_method !== 'undefined' && Delivery_method ? Delivery_method : 'Delivery Method' %></option>
                                        <option value="by company">by company</option>
                                        <option value="by Supplier">by Supplier</option>
                                      </select>
                                      <div class="text-danger" id="deliveryMethodError"></div>
                                    </div>
                                  </div>
                              
                                  <!-- Quantity Received -->
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <label for="">Quantity Received</label>
                                      <input type="number" name="QTY_recieved" id="QTY_recieved" class="form-control" value="<%= typeof QTY_recieved !== 'undefined' && QTY_recieved ? QTY_recieved : '' %>">
                                      <div class="text-danger" id="qtyReceivedError"></div>
                                    </div>
                                  </div>
                              
                                  <!-- Total in Pack -->
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <label for="">Total Product in Pack</label>
                                      <input type="number" name="total_in_pack" id="total_in_pack" class="form-control" value="<%= typeof total_in_pack !== 'undefined' && total_in_pack ? total_in_pack : '' %>">
                                      <div class="text-danger" id="totalInPackError"></div>
                                    </div>
                                  </div>
                              
                                  <!-- Manufacture Date -->
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <label for="">Manufacture Date</label>
                                      <input type="date" name="Manufacture_date" id="Manufacture_date" class="form-control" value="<%= typeof Manufacture_date !== 'undefined' && Manufacture_date ? Manufacture_date : '' %>">
                                      <div class="text-danger" id="manufactureDateError"></div>
                                    </div>
                                  </div>
                              
                                  <!-- Expiry Date -->
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <label for="">Expire Date</label>
                                      <input type="date" name="Expire_date" id="Expire_date" class="form-control" value="<%= typeof Expire_date !== 'undefined' && Expire_date ? Expire_date : '' %>">
                                      <div class="text-danger" id="expiryDateError"></div>
                                    </div>
                                  </div>
                              
                                  <!-- Cost of Delivery -->
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <label for="">Cost of Delivery</label>
                                      <input type="number" name="Cost_of_delivery" id="Cost_of_delivery" class="form-control" value="<%= typeof Cost_of_delivery !== 'undefined' && Cost_of_delivery ? Cost_of_delivery : '' %>">
                                      <div class="text-danger" id="costOfDeliveryError"></div>
                                    </div>
                                  </div>
                              
                                  <!-- Total Damaged -->
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <label for="">Total Damaged</label>
                                      <input type="number" name="Total_damaged" id="Total_damaged" class="form-control" value="<%= typeof Total_damaged !== 'undefined' && Total_damaged ? Total_damaged : '' %>">
                                      <div class="text-danger" id="totalDamagedError"></div>
                                    </div>
                                  </div>
                              
                                  <!-- Image -->
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <label for="">Image</label>
                                      <input type="file" name="image" id="image" class="form-control">
                                      <div class="text-danger" id="imageError"></div>
                                    </div>
                                  </div>
                              
                                  <!-- Details -->
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <label for="">Details</label>
                                      <textarea name="details" id="details" class="form-control"><%= typeof details !== 'undefined' && details ? details : '' %></textarea>
                                      <div class="text-danger" id="detailsError"></div>
                                    </div>
                                  </div>
                              
                                  <!-- Submit Button -->
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <button type="submit" class="btn btn-success form-control">Create Inventory</button>
                                    </div>
                                  </div>
                                </div>
                              </form>
                              
                           
                        </div>
               
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include ('../partials/footer') %>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>





    <script>
        function validateInventoryForm() {
          let valid = true;
      
          // Clear previous error messages
          document.querySelectorAll('.text-danger').forEach(function(element) {
            element.innerHTML = '';
          });
      
          // Category Name Validation
          const categoryName = document.getElementById('Category_name').value;
          if (!categoryName) {
            document.getElementById('categoryError').innerHTML = 'Please select a category.';
            valid = false;
          }
      
          // Brand Name Validation
          const brandName = document.getElementById('Brand_name').value;
          if (!brandName) {
            document.getElementById('brandError').innerHTML = 'Please select a brand.';
            valid = false;
          }
      
          // Product Name Validation
          const productName = document.getElementById('Product_name').value;
          if (!productName) {
            document.getElementById('productNameError').innerHTML = 'Product name is required.';
            valid = false;
          }
      
          // Purchase Price Validation
          const purchasePrice = document.getElementById('Purchase_price').value;
          if (!purchasePrice || purchasePrice <= 0) {
            document.getElementById('purchasePriceError').innerHTML = 'Please enter a valid purchase price.';
            valid = false;
          }
      
          // Supplier Name Validation
          const supplierName = document.getElementById('Supplier_name').value;
          if (!supplierName) {
            document.getElementById('supplierError').innerHTML = 'Please select a supplier.';
            valid = false;
          }
      
          // Payment Method Validation
          const paymentMethod = document.getElementById('Payment_method').value;
          if (!paymentMethod) {
            document.getElementById('paymentMethodError').innerHTML = 'Please select a payment method.';
            valid = false;
          }
      
          // Receiver Name Validation
          const receiverName = document.getElementById('Reciever_name').value;
          if (!receiverName) {
            document.getElementById('receiverError').innerHTML = 'Please select a receiver.';
            valid = false;
          }
      
          // Delivery Method Validation
          const deliveryMethod = document.getElementById('Delivery_method').value;
          if (!deliveryMethod) {
            document.getElementById('deliveryMethodError').innerHTML = 'Please select a delivery method.';
            valid = false;
          }
      
          // Quantity Received Validation
          const qtyReceived = document.getElementById('QTY_recieved').value;
          if (!qtyReceived || qtyReceived <= 0) {
            document.getElementById('qtyReceivedError').innerHTML = 'Please enter a valid quantity received.';
            valid = false;
          }
      
          // Total in Pack Validation
          const totalInPack = document.getElementById('total_in_pack').value;
          if (!totalInPack || totalInPack <= 0) {
            document.getElementById('totalInPackError').innerHTML = 'Please enter a valid total in pack.';
            valid = false;
          }
      
          // Manufacture Date Validation
          const manufactureDate = document.getElementById('Manufacture_date').value;
          if (!manufactureDate) {
            document.getElementById('manufactureDateError').innerHTML = 'Please enter a manufacture date.';
            valid = false;
          }
      
          // Expiry Date Validation
          const expiryDate = document.getElementById('Expire_date').value;
          if (!expiryDate) {
            document.getElementById('expiryDateError').innerHTML = 'Please enter an expiry date.';
            valid = false;
          }
      
          // Cost of Delivery Validation
          const costOfDelivery = document.getElementById('Cost_of_delivery').value;
          if (!costOfDelivery || costOfDelivery < 0) {
            document.getElementById('costOfDeliveryError').innerHTML = 'Please enter a valid cost of delivery.';
            valid = false;
          }
      
          // Total Damaged Items Validation
          const totalDamaged = document.getElementById('Total_damaged').value;
          if (totalDamaged < 0) {
            document.getElementById('totalDamagedError').innerHTML = 'Total damaged items cannot be negative.';
            valid = false;
          }
      
          // Details Validation
          const details = document.getElementById('details').value;
          if (!details) {
            document.getElementById('detailsError').innerHTML = 'Please provide additional details.';
            valid = false;
          }
      
          // Image Validation
          const image = document.getElementById('image').files.length;
          if (image === 0) {
            document.getElementById('imageError').innerHTML = 'Please upload an image.';
            valid = false;
          }
      
          return valid;
        }
      </script>
      