<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <%- include ('../partials/superSidebar') %>
        <!-- End of Sidebar -->


        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <%- include ('../partials/topbar') %>
                <!-- Topbar -->
                <%- include ('../partials/messages') %>

                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <div class=" mt-4">
                        <a class="btn btn-outline-primary mr-2 mb-1" href="/super/create-position">Add Position</a>

                        <!-- DataTales Example -->

                                <% if(allPosition.length <=0){ %>

                                    <h1>No Record Found !</h1>
                                    <% } else{ %>



                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" width="100%"
                                                cellspacing="0">
                                                <thead>
                                                    <tr>

                                                        <th>Id</th>
                                                        <th>Position name</th>
                                                        <th>Salary</th>
                                                        <th>Discription</th>
                                                        <th>
                                                            action
                                                        </th>
                                                    </tr>
                                                </thead>

                                                <tbody>



                                                    <% allPosition.forEach(function(data) {%>
                                                        <tr>
                                                            <td>
                                                                <%= data['id'] %>
                                                            </td>
                                                            <td>
                                                                <%= data['Position_name'] %>
                                                            </td>
                                                            <td>
                                                                <%= data['Salary'] %>
                                                            </td>
                                                            <td>
                                                                <%= data['Job_description'] %>
                                                            </td>
                                                            <td style="display: flex; margin-right: 2px">
                                                                <!-- Edit button with icon -->
                                                                <a class="btn "
                                                                    href="/super/edit-position/<%= data['id'] %>">
                                                                    <i class="fas fa-edit"></i>
                                                                </a>

                                                                <!-- Delete button with icon -->
                                                                <form action="/super/delete-position/<%= data['id'] %>"
                                                                    method="POST" style="display: inline;">
                                                                    <input type="hidden" name="_method"
                                                                        value="DELETE" />
                                                                    <button class="btn">
                                                                        <i class="fas fa-trash"></i>
                                                                    </button>
                                                                </form>
                                                            </td>


                                                        </tr>

                                                        <% }) %>




                                                </tbody>
                                            </table>
                                        </div>

                                        <% } %>

                        </div>

                    </div>
                    <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include ('../partials/footer') %>
                <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>