<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <%- include ('../partials/superSidebar') %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <%- include ('../partials/topbar') %>
          <!-- End of Topbar -->
          <%- include ('../partials/messages') %>

          <!-- Begin Page Content -->
          <div class="container-fluid">

            <!-- Page Heading -->
            <a class="btn btn-outline-primary mr-2 mb-1 mt-4" href="/super/all-inventory"> See All Inventory</a>

              <!-- DataTales Example -->
              <div class=" mb-4">
                <% if(allProducts.length <=0){ %>
                  <div class="card-body">
                    <h1>No Products Record Found !</h1>
                  </div>
                  <% } else{ %>

                      <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead>
                            <tr>

                              <th>Picture</th>
                              <th>Product name</th>
                              <th>Category</th>
                              <th>Unit Price</th>
                              <th>Shelf Item</th>
                              <th>Activated</th>
                              <th>Actions</th>
                              <th>showcase</th>
                            </tr>
                          </thead>

                          <tbody>



                            <% allProducts.forEach(function(data) {%>
                              <tr>
                            
                              <td>
                                  <a href="/super/inventory/<%= data['inventory_id'] %>">
                                  <img class="img-thumbnail" style="max-width: 40px;"
                                    src="/uploads/<%= data['image'] %>" alt="image">
                                  </a>
                                  </td>
                                <td>
                                  <%= data['ProductName'] %>
                                </td>
                              
                                <td>
                                  <%= data['category'] %>
                                </td>
                                <td>
                                  <%= data['UnitPrice'] %>
                                </td>
                                <td>
                                  <span class="badge <%= data['total_on_shelf'] >= 10 ? 'badge-success' : 'badge-danger' %>">
                                    <%= data['total_on_shelf'] %>
                                  </span>
                                </td>
                                <td>
                                  <span class="badge <%= data['activate'] >= true ? 'badge-success' : 'badge-warning' %>">
                                    <%= data['activate'] %>
                                  </span>
                                </td>

                                <td class="" style="display: flex;">
                                    <div class="col-3">
                                      <form action="/super/unflag-product/<%= data['inventory_id'] %>" method="POST">
                                        <input type="hidden" name="_method" value="PUT" />
                                        <button class="btn "><i class="fas fw fa-plus"></i></button>
                                      </form>
                                    </div>
                                    <div class="col-3">
                                      <form action="/super/flag-product/<%= data['inventory_id'] %>" method="POST">
                                        <input type="hidden" name="_method" value="PUT" />
                                        <button class="btn "><i class="fas fw fa-times"></i> </button>
                                      </form>
                                    </div>



                                    <div class="col-3">
                                      <a href="/super/update-price/<%= data['inventory_id'] %>"
                                        class="btn"><i class="fas fw fa-shop"></i> </a>
                                    </div>


                                  </div>
                                </td>

                              
                                <td>

                                  <% if ( data.showcase=="yes" ) { %>

                                    <form action="/super/showcase-off/<%= data['id'] %>" method="POST">
                                      <input type="hidden" name="_method" value="PUT" />
                                      <button class="btn btn-success">turn off</button>
                                    </form>

                                    <% } else { %>

                                      <form action="/super/showcase-on/<%= data['id'] %>" method="POST">
                                        <input type="hidden" name="_method" value="PUT" />
                                        <button class="btn btn-danger"> turn on</button>
                                      </form>

                                      <% } %>


                                </td>


                              </tr>

                              <% }) %>




                          </tbody>
                        </table>
                      </div>

                    <% } %>

              </div>

          </div>
          <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <%- include ('../partials/footer') %>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>



<script>
  // Select all buttons with the class "priceModal"
  let addPriceButtons = document.querySelectorAll(".click-to-add-price");
  let linkToAdd = document.getElementById("newLink");

  // Add event listener to each button
  addPriceButtons.forEach(button => {

    button.addEventListener("click", function () {
      // Get the value of the data-value attribute

      const btnValue = this.getAttribute('data-value');

      // Set the form action dynamically
      linkToAdd.action = `/super/update-price/${btnValue}`;
    });
  });
</script>