

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include ('../partials/superSidebar') %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include ('../partials/topbar') %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class=" mt-4">
                    <a class="btn btn-outline-primary mr-2 mb-1" href="/super/all-stores">All Stores</a>
                    <!-- DataTales Example -->

                                <div class="form">
                                    <form action="/super/create-store" method="post" class="form">
                                       <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Branch Name</label>
                                                <input type="text" name="Branch_Name" class="form-control" >
                                            </div>
                                        </div>
        
        
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Branch State</label>
                                                <select name="Branch_state" id="store-state" class="form-control" onchange="storeLGAs()">
                                                    <option value="">Select State</option>
                                                    <% stateData.forEach(state => { %>
                                                        <option value="<%= state.state %>"><%= state.state %></option>
                                                        <% }); %>
                                                </select>
                                            </div>
                                        </div>
        
                                       
                                       <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Local Government</label>
                                                <select name="Branch_lga" id="store-lga" class="form-control">
                                                    <option value="">Select State to choose</option>
        
                                                </select>
                                            </div>
                                        </div>
        
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="">Branch Address</label>
                                                <input type="text" name="Branch_address" class="form-control" >
                                            </div>
                                        </div>
        
        
        
                                    </div>
                                    <div class="mt-4">
                                        <input type="submit" class="btn btn-success" style="width: 100%;" value="Submit">
                                    </div>
                                    </form>
                                </div>
                         
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include ('../partials/footer') %>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <script>
        function storeLGAs() {
            const stateSelect = document.getElementById("store-state");
            const lgaSelect = document.getElementById("store-lga");
            const selectedState = stateSelect.value;
          
            console.log("Selected State: ", selectedState); // Check the selected state
          
            // Clear the existing options in the LGA select element
            while (lgaSelect.options.length > 0) {
              lgaSelect.remove(0);
            }
          
            if (selectedState) {
              fetch(`/getlgas/${selectedState}`) // Make an AJAX request to the /getlgas route
                .then(response => response.json())
                .then(data => {
                  data.forEach(lga => {
                    const option = document.createElement("option");
                    option.text = lga;
                    option.value = lga;
                    lgaSelect.add(option);
                  });
                })
                .catch(error => {
                  console.error('Error fetching LGAs:', error);
                });
            }
          
          }
        
        
    </script>