

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include ('../partials/superSidebar') %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include ('../partials/topbar') %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Upgrade <%= allUsers[0].First_name%></h1>


                    <!-- DataTales Example -->
                    <div class=" mb-4">
                        <%- include ('../partials/messages') %>
                        <div class="card-body">
                            <div class="form mt-4 mb-4">
                                <form action="/super/upgrade-users/<%= allUsers[0].id%>" method="post" class="form">
                                   <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <select name="store_name" id="" class="form-control">
                                                <option value="">Select Store</option>
                                                <% allStores.forEach(function(data) {%>
                                                <option value="<%= data['store_name'] %>"> <%= data['store_name'] %></option>
                                                <% }) %>
                                            </select>   
                                        </div>
                                    </div>

                            

                                    <div class="col-4">
                                        <div class="form-group">
                                            <select name="position" id="" class="form-control">
                                                <option value="">Select Position</option>
                                                <% allPositions.forEach(function(data) {%>
                                                <option value="<%= data['Position_name'] %>"> <%= data['Position_name'] %></option>
                                                <% }) %>
                                            </select>  
                                        </div>
                                    </div>
                                

                                    <!-- <div class="col-4">
                                        <div class="form-group">
                                            <input type="number" name="Salary" class="form-control" placeholder="Enter Salary" value="<%= allUsers[0].Salary %>">
                                        </div>
                                    </div> -->


                                </div>
                                <div class="mt-4">
                                    <input type="hidden" name="_method" value="PUT">
                                    <input name="_method" type="submit" value="upgrade user" style="width: 100%;" class="btn btn-primary "/>

                                </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include ('../partials/footer') %>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
