

<%- include('./partials/navbar') %>
  <div class="container">

            <div class=" mb-4">
              
              <% if(userNotifications.length <= 0){ %>
                
                <div class="card-body">
                      <div style="margin-top: 200px;">
                        <div class="d-flex flex-column justify-content-center align-items-center" >
                          <p> No Notifications</p>
                        </div>
                        
                      </div> 
                    </div>

                        <% } else{ %>  
    
                          <div class="containeer mt-5">
                            <h2 class="mb-4">Notifications</h2>
                          
                            <% userNotifications.forEach(function(data) { %>
                              <div class="card mb-3 p-2 my-box-shadow">
                                <div class="card-body">
                                  <div class="row align-items-center">
                                    <div class="col-10">
                                      <a href="/user/notifications/<%=data.id %>" class="text-decoration-none text-dark">
                                        <p class="mb-1">
                                          <i class="fas fa-bell"></i> <%= data.message %>
                                        </p>
                                        <small class="text-muted">
                                          <%= new Date(data.created_at).toLocaleString() %>
                                        </small>
                                      </a>
                                    </div>
                                    <div class="col-2 text-right">
                                      <!-- Status -->
                                      <% if (data.is_read == false) { %>
                                        <span class="badge bg-warning text-dark">Unread</span>
                                      <% } else { %>
                                        <span class="badge bg-secondary">Read</span>
                                      <% } %>

                                      <a href="/user/notifications/<%=data.id%>">  <i class="fas fa-trash"></i> </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            <% }) %>
                          </div>

         
                            <% } %>
                   
                </div>
            </div>


            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
  </div>

  <%- include ('../partials/openFooter')%>