<%- include('./partials/navbar') %>

<main class="main">
  <div class="container">
    <%- include('../partials/messages') %>


      <a class="back-btn" href="/user/profile"><i class="bi bi-arrow-left-circle"></i> Back</a>

      <div class="profile-section card">
        <% if (userData.image == null) { %>
            <!-- Display form for uploading image -->
            <div class="my-profile-image">
                <img class="profile-img" src="/images/avatar.png" alt="Default Profile Image">
                <div class="overlay">
                    <form class="user" action="/user/add-profile-image/<%= userData.id %>" method="post" enctype="multipart/form-data">
                        <label for="image-upload" class="upload-label">
                            Upload Image
                        </label>
                        <input id="image-upload" type="file" name="image" class="file-input" style="display:none;" onchange="handleFileInputChange()">
                        <input id="submit-button" type="submit" value="Submit" class="btn btn-warning btn-user btn-block" style="display: none;">
                    </form>
                </div>
            </div>
        <% } else { %>
            <!-- Display user's profile image -->
            <div class="my-profile-image">
                <img class="profile-img" src="/uploads/<%= userData.image %>" alt="User Profile Image">
                <div class="overlay">
                    <form class="user" action="/user/add-profile-image/<%= userData.id %>" method="post" enctype="multipart/form-data">
                        <label for="image-upload" class="upload-label">
                            Change Image
                        </label>
                        <input id="image-upload" type="file" name="image" class="file-input" style="display:none;" onchange="handleFileInputChange()">
                        <button id="submit-button" style="display: none;" class="my-btn" type="submit"><i class="fas fa-exclamation-triangle"></i>Submit</button>

                    </form>
                </div>
            </div>
        <% } %>
    </div>


    
      <div class="profile-nav mt-3 mb-4">
        <a class="profile-nav-item btn mt-2" href="/user/edit-user/<%=userData.id %>">
          <i class="fas fa-user-edit"></i> Change My Details
        </a>
        <a class="profile-nav-item btn" href="/user/change-phone">
          <i class="fas fa-phone-alt"></i> Change Number
        </a>
        <a class="profile-nav-item btn" href="/user/reset">
          <i class="fas fa-lock"></i> Change Password
        </a>
      
      </div>

      <div class="user-details row mb-4 p-3">
        <div class="col-12 col-md-6 detail-item">
          <span class="label">Email:</span>
          <span class="value"><%= userData.email %></span>
          <span class="status">
            <% if ( userData.verify_email == false) { %>
              <form action="/auth/verify-request" method="post" class="status-form">
                <input type="hidden" value="<%=userData.email%>" name="email">
                <button type="submit" class="btn-status text-warning"><i class="fas fa-exclamation-circle"></i></button>
              </form>
            <% } else { %>
              <i class="fas fa-check-circle text-success"></i>
            <% } %>
          </span>
        </div>
      
        <div class="col-12 col-md-6 detail-item">
          <span class="label">Phone Number:</span>
          <span class="value"><%= userData.Phone ? userData.Phone : "Not Provided" %></span>
          <span class="status">
            <% if ( userData.Phone == null) { %>
              <a href="/user/add-phone" class="btn-status"><i class="fas fa-plus-circle"></i> Add</a>
            <% } else if (userData.verify_phone == false) { %>
              <form action="/auth/send-code" method="post" class="status-form">
                <input type="hidden" value="<%=userData.Phone%>" name="phoneNumber">
                <button type="submit" class="btn-status text-warning"><i class="fas fa-exclamation-circle"></i></button>
              </form>
            <% } else { %>
              <i class="fas fa-check-circle text-success"></i>
            <% } %>
          </span>
        </div>
      
        <div class="col-12 col-md-6 detail-item">
          <span class="label">Address:</span>
          <span class="value"><%= userData.Address || "Not Provided" %></span>
        </div>
      
        <div class="col-12 col-md-6 detail-item">
          <span class="label">State:</span>
          <span class="value"><%= userData.state || "Not Provided" %></span>
        </div>
      
        <div class="col-12 col-md-6 detail-item">
          <span class="label">LGA:</span>
          <span class="value"><%= userData.lga || "Not Provided" %></span>
        </div>
      
        <div class="col-12 col-md-6 detail-item">
          <span class="label">Landmark:</span>
          <span class="value"><%= userData.land_mark || "Not Provided" %></span>
        </div>
      </div>
  </div>

  </main>

  <script>
    function handleFileInputChange() {
        const fileInput = document.getElementById('image-upload');
        const submitButton = document.getElementById('submit-button');
        const overlay = document.querySelectorAll('.overlay')
  
        if (fileInput.files.length > 0) {
            submitButton.style.display = 'block'; // Show submit button
            // overlay.style.display = 'block'
        } else {
            submitButton.style.display = 'none'; // Hide submit button
        }
    }
  </script>