<style>
  #map {
    height: 500px; /* Adjust height as needed */
    width: 100%;
    border: 1px solid #333;
    border-radius: 5px;
  }
</style>
    <!-- Main Content -->
      <!-- Topbar -->
      <%- include('./partials/navbar') %>
      <!-- End of Topbar -->
        
      <div class="container">
        <%- include ('../partials/messages') %>
        <a class="back-btn" href="/user"><i class="bi bi-arrow-left-circle"></i> Back</a>

        <div class="row">
          <div class="col-lg-4 container mb-4">
            <div class="profile-section card">
              <% if (userData.image == null) { %>
                  <!-- Display form for uploading image -->
                  <div class="my-profile-image">
                      <img class="profile-img" src="/images/avatar.png" alt="Default Profile Image">
                      <div class="overlay">
                          <form class="user" action="/user/add-profile-image/<%= userData.id %>" method="post" enctype="multipart/form-data">
                              <label for="image-upload" class="upload-label">
                                  Upload Image
                              </label>
                              <input id="image-upload" type="file" name="image" class="file-input" style="display:none;" onchange="handleFileInputChange()">
                              <input id="submit-button" type="submit" value="Submit" class="btn btn-warning btn-user btn-block" style="display: none;">
                          </form>
                      </div>
                  </div>
              <% } else { %>
                  <!-- Display user's profile image -->
                  <div class="my-profile-image">
                      <img class="profile-img" src="/uploads/<%= userData.image %>" alt="User Profile Image">
                      <div class="overlay">
                          <form class="user" action="/user/add-profile-image/<%= userData.id %>" method="post" enctype="multipart/form-data">
                              <label for="image-upload" class="upload-label">
                                  Change Image
                              </label>
                              <input id="image-upload" type="file" name="image" class="file-input" style="display:none;" onchange="handleFileInputChange()">
                              <button id="submit-button" style="display: none;" class="my-btn" type="submit"><i class="fas fa-exclamation-triangle"></i>Submit</button>

                          </form>
                      </div>
                  </div>
              <% } %>
          </div>

   
             <!-- actions nav -->
              <div class="profile-nav mt-3 ">
                <a class="profile-nav-items" href="/user/orders">My Orders </a>
                <a class="profile-nav-items" href="/user/wishlist">My wishlist </a>
                <a class="profile-nav-items" href="/user/buy-airtime">Buy Airtime With Cashback</a>
                <a class="profile-nav-items" href="/user/edit-user/<%=userData.id %>">Edit profile detail</a>
                <a class="profile-nav-items" href="/user/change-phone">Change Phone Number </a>
                <a class="profile-nav-items" href="/user/reset">Change password</a>
                <a class="text-danger profile-nav-items" href="/logout">log out</a>

              </div>
          </div>

          <!-- main timeline -->
          <div class="col-lg-8" style="font-size: 12px;">

                  <div class=" card">
                  <div class="card-header">Billing details</div>
                  <div class="card-body">
                    <div class="row mb-4">
                  
                 
                      <div class="col-4">First name:</div>
                      <div class="col-8"><%= userData.First_name %></div>
                      <div class="col-4">Last name:</div>
                      <div class="col-8"><%= userData.Last_name %></div>
                      <div class="col-4">Email:</div>
                      <div class="col-8 ">
                        <div class="row">
                          <div class="col-9"><%= userData.email %> </div>
                                
                          <div class="col-3">
                              <!-- switch colors -->
                              <% if ( userData.verify_email  == false) { %>
    
                               <!-- 1 -->
                               <form action="/auth/verify-request" method="post">
                                <input type="hidden" value="<%=userData.email%>" name="email" >
                                <button type="submit" style="border: none; background: none;" class="text-warning bg-none"><i class="fas fa-exclamation"></i> </button>                                    
                              </form>
                                <% } else { %>
    
                            <a class="text-success" >  <i class="fas fa-check"></i> </a>
    
                              <% } %>
                         
                          </div>
                        </div>
                   
                      </div>
    
                      <div class="col-4">Phone Number:</div>
                      <div class="col-8">
                        <div class="row">
    
                          <div class="col-9">
                            <%= userData.Phone %> 
                          </div>
                                
                          <div class="col-3">
                              <!-- switch colors -->
                              <% if ( userData.Phone  == null) { %>

                                <a href="/user/add-phone"><i class="fas fa-plus"></i> add</a>
                                <% } else { %>
    
                                              <!-- verify -->
                                              <% if ( userData.verify_phone  == false) { %>
              
                                                <form action="/auth/send-code" method="post">
                                                  <input type="hidden" value="<%=userData.Phone%>" name="phoneNumber" >
                                                  <button type="submit" style="border: none; background: none;" class="text-warning bg-none"><i class="fas fa-exclamation"></i> </button>                                                  
                                                </form>
                                                  <% } else { %>
                      
                                                    <a class="text-success" >  <i class="fas fa-check"></i> </a>
                      
                                                <% } %>
        
                                                <!-- verrify end -->
    
                              <% } %>
                         
                          </div>
                        </div>
                      </div>
                      <div class="col-4">Address:</div>
                      <div class="col-8"><%= userData.Address %></div>
    
    
    
                      <div class="col-4">State:</div>
                      <div class="col-6"><%= userData.state %></div>
                      <div class="col-4">LGA:</div>
                      <div class="col-6"><%= userData.lga %></div>
                      <div class="col-4">Gender:</div>
                      <div class="col-6"><%= userData.gender %> </div>
                      <div class="col-4">Land mark:</div>
                      <div class="col-6"><%= userData.land_mark %></div>
    
                    </div>
                  </div>
                </div>

                <div class="card mt-3">
                  <div class="card-body">
                    
                    <div class=" mb-3 text-success" ><%= userData.rank %></div>
                    <div class="progress-container">
                      <div id="progress-bar" class="progress-bar"></div>
                      <div id="progress-percent" class="progress-percent"></div>
                     </div>
                     <div class="mt-3"> 
                       <p class="format-number"></p>
                       <hr>
                      <div class="row">
                       <div class="col-auto"> Cash back:</div>
                       <div class="col-auto text-success"> ₦ <%=cashBack%></div>
                      </div>
                       
                     </div>
                   </div>
   
                </div>

                <div class="card mt-3">
                  <div class="card-body">
                    <h5>My invite link</h5>
                    <div class="row">
                      <div class="col-10"><input id="link" class="form-control" value=" <%=referLink%>"/></div>
                      <div class="col-2">
                        <i class="bi bi-clipboard" onclick="copyToClipboard()" style="font-size: 20px; color: var(--accent-color);"></i>

                      </div>
                    </div>
                    <hr>
                    <div class="referrals">
                      <h5 class="mb-4">You have <%= referralResult.length %> Ref(s)</h5>
                      <table class="table" width="100%" cellspacing="0">
                          <tbody>
                              <% referralResult.forEach(function(data) { %>
                              <tr>
                                  <!-- Displaying the name from the users table -->
                                  <td><%= data.First_name %> <%= data.Last_name %></td>
                                  <!-- Displaying whether they have earned (based on has_earned) -->
                                  <td>
                                      <% if (data.has_earned) { %>
                                      <i class="fas fa-check text-success"></i>
                                      <% } else { %>
                                      <i class="fas fa-times text-danger"></i>
                                      <% } %>
                                  </td>
                              </tr>
                              <% }) %>
                          </tbody>
                      </table>
                  </div>
                  

                    <hr>
                    <p class="text-success"> Refer and get extra bonus of NGN 500</p>
                    <p class="text-warning"> Referrees must purchase an item for referrals to be vetted</p>
                 
                   </div>
   
                </div>

                <div class="card mt-3">
                  <div class="card-body">
                    
                    <div class=" mb-3 text-success" >Your map location</div>
                    <div id="map"></div>
                   </div>
   
                </div>

                <div class="mt-5 card" >
                  <div class="card-header">Delete account</div>
                  <div class="card-body">
                      <h2>We're sorry to see you go</h2>
                      <p>Please let us know why you're deactivating your account:</p>
                      <form action="/auth/delete-account" method="post">
                        <div class="form-group">
                          <label for="deactivationReason">Reason for Deactivation</label>
                          <select name="reason" class="form-control" id="deactivationReason" required>
                            <option value="" disabled selected>Select a reason</option>
                            <option value="I found the site difficult to use">I found the site difficult to use</option>
                            <option value="I didn't find what I was looking for">I didn't find what I was looking for</option>
                            <option value="I had a poor customer service experience">I had a poor customer service experience</option>
                            <option value="I have privacy or security concerns">I have privacy or security concerns</option>
                            <option value="I receive too many emails/notifications">I receive too many emails/notifications</option>
                            <option value="I prefer a competitor's service">I prefer a competitor's service</option>
                            <option value="Other (please specify below)">Other (please specify below)</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="additionalComments">Additional Comments</label>
                          <textarea name="Comments" class="form-control" id="additionalComments" rows="3" placeholder="Please provide any additional feedback here..."></textarea>
                        </div>
                        <button type="submit" class="btn btn-danger">Deactivate Account</button>
                      </form>

                  </div>
    
                </div>
    


        </div>
        </div>

      </div>

<br>
<br>


<%- include ('../partials/openFooter')%>



<script>
  
  document.addEventListener('DOMContentLoaded', () => {
  
    
    const spending = <%= spending %>;
const ranks = <%- JSON.stringify(ranks) %>;

console.log(ranks);
let formatedDivs = document.querySelectorAll('.format-number');
let formattedAmount = spending.toLocaleString("en-US");

formatedDivs.forEach(div => {
  div.textContent = `Spent ₦${formattedAmount}`;
});

    // Determine current rank and next threshold
    let currentThreshold = 0;
    let nextThreshold = ranks[0].threshold;

    for (let i = 0; i < ranks.length; i++) {
      if (spending >= ranks[i].threshold) {
        currentThreshold = ranks[i].threshold;
        nextThreshold = ranks[i + 1] ? ranks[i + 1].threshold : ranks[i].threshold;
      } else {
        break;
      }
    }

    // If spending exceeds the last rank threshold, set progress to 100%
    let progress;
    if (spending >= nextThreshold) {
      progress = 100;
    } else {
      // Calculate progress towards the next rank
      progress = ((spending - currentThreshold) / (nextThreshold - currentThreshold)) * 100;
    }

    const progressBar = document.getElementById('progress-bar');
    const progressPercent = document.getElementById('progress-percent');
    progressBar.style.width = `${progress}%`;
    progressPercent.textContent = `${progress.toFixed(2)}%`;
  });
</script>


<script>
  function handleFileInputChange() {
      const fileInput = document.getElementById('image-upload');
      const submitButton = document.getElementById('submit-button');
      const overlay = document.querySelectorAll('.overlay')

      if (fileInput.files.length > 0) {
          submitButton.style.display = 'block'; // Show submit button
          // overlay.style.display = 'block'
      } else {
          submitButton.style.display = 'none'; // Hide submit button
      }
  }
</script>


<!-- <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script> -->
<!-- <script>
  // The location of the address
  const location = [51.505, -0.09]; // Latitude and Longitude
  // Create the map and set the view to the location
  const map = L.map('map').setView(location, 13);
  // Add a tile layer to the map
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);
  // Add a marker to the map
  L.marker(location).addTo(map)
    .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
    .openPopup();
</script> -->

<script>
  function copyToClipboard() {
    // Get the link input element
    var copyText = document.getElementById("link");

    // Select the text
    copyText.select();
    copyText.setSelectionRange(0, 99999); // For mobile devices

    // Copy the text to clipboard
    navigator.clipboard.writeText(copyText.value)
      .then(() => console.log("Link copied to clipboard!"))
      .catch(err => console.error('Failed to copy: ', err));
  }
</script>