
<%- include('./partials/navbar') %>


  <div class="container"><%- include('../partials/messages') %></div>

  <!-- Service Details Section -->
    
    <div class="container">

      <div class="row gy-5">

      
      <div class="col-lg-8">
          
        <div class=" card  my-box-shadow mb-4"  >
          <div class="card-body">

            <% cartItems.forEach(item => { %>
              <div class="cart-item row pt-2 ">
                
                <div class="col-auto mr-1">
                  <img src="/uploads/<%= item.image %>" class="img-fluid rounded" alt="<%= item.product_name %>">
                </div>
                
                <div class="cart-item-details col-auto >
                  <p class="m-0" style="font-size: 14px;"><%= item.product_name %></p>
                  <p class="m-0" style="font-size: 8px;"><%= item.quantity %> (x)</p>
                </div>
              </div>
              <% }); %>
              <hr>
              <a href="/user/fetchCart" class=" mt-2 my-btn-outline ">Modify Cart</a>
            </div>
          </div>

            <div class="card my-box-shadow "  >
              <div class="card-body" style="font-size: 13px;">
                <div class="row">
                  <div class="col-2 m-0">Phone</div>
                  <div class="col-10 m-0"><%= userData.Phone%></div>
                  <div class="col-2 m-0">Address</div>
                  <div class="col-10 m-0"><%= userData.Address%></div>
                  
                  
                  <div class="col-2 m-0">State:</div>
                  <div class="col-10 m-0"><%= userData.state%></div>
                  <div class="col-2 m-0">LGA:</div>
                  <div class="col-10 m-0"><%= userData.lga%></div>
                  <div class="col-2 m-0">Land Mark:</div>
                  <div class="col-10 m-0"><%= userData.land_mark%></div>
                  
                </div>

                <hr>
                <a href="/user/edit-user/<%=userData.id %>" class=" mt-4 my-btn ">Edit shipping Info </a>
              </div>
            </div>
     
        </div>

      <div class="col-lg-4" data-aos="" data-aos-delay="0">

        <div class="card my-box-shadow">
          <div class="card-body" style="font-size: 12px; margin-top: 5px ;">
            
            <div class="row mb-4">
              <div class="col-6 m-0"> Sum of Item(s)</div>
              <div class="col-6 m-0 ">₦ <span class="item-price""> <%= totalSubtotal%></span></div>
              <br>
            </div>

            <div class="row">
              <p class=" text-success">Based on your Registered state (<%= userData.state %>) and Local Government Area (<%= userData.lga%>) Our  shipping Fee is</p>
              <p class="m-0 text-warning">₦ <span class="item-price" style="font-size: 14px;"><%=shippingFee%></span></p>
            </div>

          <% if(shippingFee <= 0){ %>
        
            <button  disabled class=" btn btn-outline-danger " style="width: 100%;">we do not ship to <%= userData.lga%> for now</button>

            <hr>
            <p class="m-0"> See a list of states and local Government Area covered <a href="#" target="_blank">here</a> </p>
       
          <% } else{ %> 

            <form id="paymentForm">

              <input type="email" class="form-control" id="email" required value="<%=userData.email%>" hidden>
  
              <input type="number" class="form-control" id="amount"  value="<%=customerToPay %>" hidden>
  
  
  
            <button type="submit"  class=" mt-2 my-btn-outline " style="width: 100%;">Pay ₦<span id="sumTotal" class="item-price"><%=totalSum%></span></button>
  
            <hr>
  
            <p class="m-0"> You are paying through <a href="https://paystack.com" target="_blank">paystack</a> payment gateway</p>
            <p class="m-0" style="font-size: 12px ;">card info is kept secure with military grade encryption </p>
          </form>
          <hr>
          <p class="text-warning rounded" style="font-size: 12px; margin-top: 5px ; border: 1px solid ; padding: 5px;">item will be delivered in 1 hour(s) after confirmation</p>

          <% } %>

        </div>
        </div>

      </div>
      <%- include('./partials/info') %>
    </div>
    </div>




    <%- include ('../partials/openFooter')%>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>


let formattedPrices = document.querySelectorAll('.item-price');
function formatPrice() {
    formattedPrices.forEach(priceElement => {
      let price = parseFloat(priceElement.textContent.replace(/[^0-9.-]+/g, "")); // Remove any non-numeric characters
      priceElement.textContent = price.toLocaleString("en-US", { minimumFractionDigits: 2, maximumFractionDigits: 2 });
    });
  }
  formatPrice()


  document.getElementById('paymentForm').addEventListener('submit', function (e) {
    e.preventDefault();

    const email = document.getElementById('email').value;
    const amount = document.getElementById('amount').value;
    const loader = document.getElementById('loader');


    fetch('/pay', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ email, amount })
    })
    .then(response => response.json())
    .then(data => {
      // loader.classList.add('d-none');
      if (data.status && data.data && data.data.authorization_url) {
        window.location.href = data.data.authorization_url;
        console.log(data.data.reference);

      } else {
        alert('Failed to initialize payment. Please try again.');
      }
    })
    .catch(error => {
      // loader.classList.add('d-none');
      console.error('Error:', error);
      alert('Error processing payment. Please try again.');
    });
  });
</script>




