
                 <%- include('./partials/navbar') %>

          <div class="container">
            <%- include ('../partials/messages') %>


            <div class="row">
              <div class="col-lg-4 container mb-4">
   
                <!-- actions nav -->
                 <div class="profile-nav mt-3 ">
                   <a class="" href="/user/profile"><i class="bi bi-arrow-left-circle"></i> Back</a>
                 </div>
             </div>


              <div class="col-lg-8" style="font-size: 12px;">
                <table class="table table-bordered" width="100%"cellspacing="0">
                  <thead>
                    <tr>
                      <th>unit price</th>
                      <th>Status</th>
                      <th>Details</th>
                    </tr>
                  </thead>
  
                  <tbody>
                      <% newOrder.forEach(function(data) {%>
                      <tr>
                        <td><%= data['total_amount'] %></td>
                        <td><%= data['status'] %></td>
                        <td><a class="btn btn-primary" href="/user/invoice/<%= data['sale_id'] %>"> Details </a></td>
                      </tr>
                        <% }) %>
  
  
                
                  </tbody>
                </table>
              </div>
            </div>

        </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
              <!-- Footer -->
              <%- include('./partials/footer') %>
              <!-- End of Footer -->

        <!-- End of Content Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
