
               <%- include('./partials/navbar') %>

               <main class="main">
                 <div class="container">
                  <%- include('../partials/messages') %>
                

                        <a class="back-btn" href="/user/profile"><i class="bi bi-arrow-left-circle"></i> Back</a>

                
                      <!-- Orders List -->
                      <div class="order-list mt-4">
                        <% newOrder.forEach(function(data) { %>
                          <div class="order-card">
                            <div class="order-info">

                              <span class="order-status badge 
                              <%= data.status === 'incomplete' ? 'bg-warning' : 
                                  data.status === 'shipped' ? 'bg-info' : 
                                  data.status === 'complete' ? 'bg-success' : 
                                  data.status === 'waiting' ? 'bg-secondary' : 
                                  data.status === 'canceled' ? 'bg-danger' : '' %>">
                              <!-- Add the icons for each status -->
                              <i class="fas 
                                  <%= data.status === 'incomplete' ? 'fa-hourglass-half' : 
                                      data.status === 'shipped' ? 'fa-truck' : 
                                      data.status === 'complete' ? 'fa-check-circle' : 
                                      data.status === 'waiting' ? 'fa-clock' : 
                                      data.status === 'canceled' ? 'fa-times-circle' : '' %>"></i>

                          </span>
                          

                              <span class="order-status"><%= data.sale_id %></span>
                            </div>
                            <a class="btn btn-primary details-btn" href="/user/invoice/<%= data.sale_id %>">Details</a>
                          </div>
                        <% }) %>
                      </div>
                </div>
               </main>
