
                 <%- include('./partials/navbar') %>

          <div class="container">
            <%- include ('../partials/messages') %>


            <div class="row">
              <div class="col-lg-2 container mb-4">
   
                <!-- actions nav -->
                 <div class="profile-nav mt-3 ">
                   <a class="" href="/user/profile"><i class="bi bi-arrow-left-circle"></i> Back</a>
                 </div>
             </div>


              <div class="col-lg-10" style="font-size: 12px;">
                <table class="table " width="100%"cellspacing="0">

                  <tbody>
                      <% wishlist.forEach(function(data) {%>
                      <tr>
                        
                        <td><img class="img-thumbnail" style="max-width: 40px;" src="/uploads/<%= data['image'] %>" alt="image"></td>
                        <td class="truncate-container"><%= data['ProductName'] %></td>
                        <td><%= data['UnitPrice'] %></td>
                        <td>
                        <a href="/user/product-details/<%= data.id %>"> Buy item  </a> <br>
                        </td>
                        <td>
                          <a href="/user/wishlist/<%= data.id %>/remove"> Remove item  </a>
                        </td>
                      </tr>
                        <% }) %>
  
  
                
                  </tbody>
                </table>
              </div>
            </div>

        </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
              <!-- Footer -->
              <%- include('./partials/footer') %>
              <!-- End of Footer -->

        <!-- End of Content Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
