
                 <%- include('./partials/navbar') %>

          <div class="container">
            <%- include ('../partials/messages') %>


            <div class="row">
              <div class="col-lg-2  mb-4">
   
                <!-- actions nav -->
                 <div class="profile-nav mt-3 ">
                   <a class="back-btn"  href="/user"><i class="bi bi-arrow-left-circle"></i> Back</a>
                 </div>
             </div>


              <div class="col-lg-10" style="font-size: 14px;">
                <div class="table-responsive">
                <table class="table" width="100%"cellspacing="0">

                  <tbody>
                      <% wishlist.forEach(function(data) {%>
                      <tr>
                        
                        <td><img class="img-thumbnail" style="max-width: 40px;" src="/uploads/<%= data['image'] %>" alt="image"></td>
                        <td class="truncate-container"> <a href="/user/product-details/<%= data.id %>"> <%= data['ProductName'] %>     </a></td>
                        <td>
                          <a href="/user/wishlist/<%= data.id %>/remove">   <i class="fas fa-trash"></i>  </a>
                        </td>
                      </tr>
                        <% }) %>
  
  
                
                  </tbody>
                </table>
                </div>
              </div>
            </div>

        </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
         
              <!-- Footer -->
              <%- include ('../partials/openFooter')%>
              <!-- End of Footer -->

        <!-- End of Content Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
