

<%- include ('./logisticsTopbar') %>

  <%- include ('./logisticsSidebar') %>
  <div class="container-fluid">

        <%- include ('../partials/messages') %>
            <div class=" mb-4">
                    <% if(pendingDelivery.length <= 0){ %>
    
                        <div style="display: flex;justify-content: center;align-items: center;margin: auto;margin-top: 200px;">
                        <img style="max-width: 100px; max-height: 100px"src="/images/shipped.png"class=" rounded-4"alt="images"/>
                      </div> 
                        <% } else{ %>  
                                <div class="table-responsive">
                                    <table class="table table-bordered"  width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                              <th>Pick up location</th>
                                              <th>
                                                action
                                              </th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                      
                                     
    
    
    
                                            <% pendingDelivery.forEach(function(data) {%>
                                                <tr>
                                                    <td><%= data['customer_address'] %> </td>
                                                    <td><a class="btn btn-primary" href="/logistics/all-deliveries/<%= data['id'] %>"> view</a></td>
                                               </tr> 
                                               
                                                   <% }) %>
                                     
                                       
                                        
    
                                            </tbody>
                                    </table>
                                </div>
                            <% } %>
            </div>
    </div>
      <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
  </a>
