<%- include ('./logisticsTopbar') %>

  <%- include ('./logisticsSidebar') %>

    <div class="container-fluid">

      <%- include ('../partials/messages') %>

        <div class="row">

          <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
            <div class="mb-3">
              <div class="row no-gutters align-items-center">
                
                <div class="col-12 mr-5 mb-4">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    Customer Email
                  </div>
                  <div class="text-gray-500">
                    <%= orderToComplete.customer_email %>
                  </div>
                </div>

                
                <div class="col-12 mr-5 mb-4">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    Sale ID
                  </div>
                  <div class="text-gray-500">
                    <%= orderToComplete.sale_id %>
                  </div>
                </div>
                
           
                
                <div class="col-12 mr-5 mb-4">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    Address
                  </div>
                  <div class="text-gray-500">
                    <%= orderToComplete.customer_address %>
                  </div>
                </div>
                
                <div class="col-12 mr-5 mb-4">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    Phone
                  </div>
                  <div class="text-gray-500">
                    <%= orderToComplete.customer_phone %>
                  </div>
                </div>
                
                <div class="col-12 mr-5 mb-4">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    State
                  </div>
                  <div class="text-gray-500">
                    <%= orderToComplete.customer_state %>
                  </div>
                </div>
                
                <div class="col-12 mr-5 mb-4">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    LGA
                  </div>
                  <div class="text-gray-500">
                    <%= orderToComplete.customer_lga %>
                  </div>
                </div>
                
                <div class="col-12 mr-5 mb-4">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    Landmark
                  </div>
                  <div class="text-gray-500">
                    <%= customerData.land_mark %>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <br>

          <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
            <div class=" mb-4">
              <p class="text-uppercase text-primary">ItemS Ordered List</p>
              <div class="list-group">
                <% orderedProducts.forEach(function(data) { %>
                  <div class="list-group-item">
                    <div class="row align-items-center text-center">
                      
                      <!-- Item Image -->
                      <div class="col-2 col-md-2 col-lg-1 d-flex justify-content-center">
                        <img class="img-fluid rounded" src="/uploads/<%= data['image'] %>" alt="image" style="max-width: 100px;">
                      </div>
                      
                      <!-- Product Name -->
                      <div class="col-6 col-md-4 text-center text-md-left">
                        <p class="mb-1 font-weight-bold text-primary">Product Name</p>
                        <p class="text-gray-500"><%= data['name'] %></p>
                      </div>
                      
                      <!-- Quantity -->
                      <div class="col-2 col-md-3 col-lg-2">
                        <p class="mb-1 font-weight-bold text-primary">Quantity</p>
                        <p class="text-gray-500"><%= data['quantity'] %></p>
                      </div>
                      
              
                    </div>
                  </div>
                <% }) %>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                <% if( orderedProducts[0].status=="shipped" ){ %>

                  <br>
                  <form action="/logistics/finish-order/<%= orderedProducts[0].id %>" method="post">
                    <div class="from-group">
                      <label>Customer Order Pin</label>
                      <input type="number" name="pin" class="form-control" >
                      <button type="submit" class="my-btn mt-4 w-100">Complete Delivery</button>
                    </div>
                  </form>
                  <% } else{ %>
                    <button type="submit" class="btn btn-secondary mt-4" style="width: 100%;" disabled>
                      Completed</button>
                    <% } %>
              </div>

            </div>
          </div>


        </div>

    </div>